<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://cdn.jsdelivr.net/npm/@weanalyzehq/workcell-ui@{{ config.workcell_ui_version }}/dist/weanalyze.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@weanalyzehq/workcell-ui@{{ config.workcell_ui_version }}/dist/style.css">
  <title>Workcell UI</title>
</head>
<body>
  <div id="root"></div>
  <div id="workcell-url" style="display: none;">{{ config.workcell_server_url }}</div>
  <script src="https://cdn.jsdelivr.net/npm/@weanalyzehq/workcell-ui@{{ config.workcell_ui_version }}/dist/workcell-ui.umd.js"></script>
</body>
</html>